.bg-yellow {
    background: $color-yellow !important;
}

.bg-yellow-light {
    background: $color-yellow-light !important;
}

.bg-almond {
    background: $color-almond !important;
}

.bg-white{
    background: white !important;
}

.bg-pink-light{
    background: $color-pink-light;
}