// Card Discovert
.card-discovery {
    .article {
        padding: 15px;
        .title {
            font-weight: bold;
        }

        .helper{
            font-weight: 500;
            text-align: end;
            letter-spacing: 1px;
        }
    }
}

// Card learMore
.card-learMore{
    .card{
        margin-right: 5px;
    }
    .card-title{
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: bold;
    }
    
    .card-body{
        padding: 35px;
        background: $color-celeste-dark;
    }

    .more{
        font-weight: 500;
        text-align: end;
        letter-spacing: 1px;
    }

}