.more {
    font-weight: 500;
    text-align: end;
    letter-spacing: 1px;
}

// Card Discovert
.card-discovery {
    .article {
        padding: 15px;
        .title {
            font-weight: bold;
        }
    }
}

// Card learMore
.card-learMore {
    .card {
        margin-right: 5px;
    }
    .card-title {
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .card-body {
        padding: 35px;
        background: $color-celeste-dark;
    }

}

//Card Shop
.card-shop {
    display: flex;
    
    .image{
        width: 65%;
        background: gray;
    }

    .article{
        width: 35%;
        padding: 30px;
        background: #f0fff0;
        h1,h2,h3{
            font-weight: bold;
        }
    }
}
